{
  "parser": "babel-eslint",
  "extends": [
    "standard",
    "standard-react",
  ],
  "plugins": [
    "babel",
    "react",
    "promise"
  ],
  "env": {
    "browser" : true,
    "mocha" : true
  },
  "globals": {
    "expect" : false,
    "should" : false,
    "sinon"  : false,
    "__DEV__"      : false,
    "__TEST__"     : false,
    "__PROD__"     : false,
    "__COVERAGE__" : false
  },
  "rules": {}
}
